body {
  background-color: #e2e8f0;
}

.App {
  text-align: center;
  min-height: 100vh;
  /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4a5568;
  /* background:
  radial-gradient(circle at 100% 50%, transparent 20%, #4a5568 21%,
  #4a5568 34%, transparent 35%, transparent),
  radial-gradient(circle at 0% 50%, transparent 20%, #4a5568 21%, #4a5568 34%, transparent 35%, transparent) 0 -50px;
background-color: #2d3748;
background-size: 75px 100px; */
}

.App-link {
  color: #61dafb;
}

.App-header__title {
  font-size: 72px;
  /* background: -webkit-linear-gradient(#eee, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
